/* Tổng quan */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
#container{
    display: flex;
    align-items: center;
}

.container{
    width: 90%;
    margin: 0 auto;
}

/* Header */
header {
    background-color: #333;
    color: rgb(221, 95, 12);
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    margin-right:20px;
    font-weight: bold;
    text-shadow: 3px 3px 3px red;
    color: rgb(221, 95, 12);
    text-decoration: none;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline-block;
    margin-left: 20px;
}

a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 16px;
}

.nav-links .active {
    color: #ff6600;
    font-weight: bold;
}
/* Form */
#home{
    font-weight: bold;
    text-shadow: 3px 3px 3px red;
    color: rgb(221, 95, 12);
}

.form-section {
    margin: 50px auto;
    width: 100%;
    max-width: 400px;
    background: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#reg{
    font-weight: bold;
}

.form-section h2 {
    margin-bottom: 20px;
    text-align: center;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

form .btn {
    width: 100%;
    padding: 10px;
    background: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
